body{
    margin: 0;
}

nav{
    background: #16A885;
}

.menu {
    text-align: center;
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 45px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background: #1ABC9C;
}

.gris {
    background: #333333;
    overflow: hidden;
    text-align: center;
    color: white;
    padding: 90px;
}

.hierva{
    padding: 200px;
    background: url(imagenes/hierva.jpg);
}

.dos_col {
    width: 1024px;
    margin: auto;
}

.dos_col .col_left {
    width: 600px;
    vertical-align: top;
}
.dos_col .col_right {
    width: 400px;
    vertical-align: top;
}

.tres_col {
    color: white;
    width: 1024px;
    margin: auto;
}

.tres_col a{
    color: white;
}

.col {
    display: inline-block;
}

.tres_col .col {
    width: 330px;
}

.wrapper {
    background: #1E1B1A;
}

.footer {
    background: #16A885;
    text-align: center;
    padding: 60px;
    color: white;
}